.DS_Store
tmp/
.bundle
.sass-cache/
.loadpath
.project
cg.sh
node_modules
.idea/
*.sock
.vagrant
.env
.session.vim

# React on Rails
npm-debug.log*
node_modules
client/node_modules

# Generated js bundles
/app/assets/webpack/*

# Generated i18n-js bundles
/app/assets/javascripts/i18n/*
/client/app/i18n/*
!/client/app/i18n/.keep
/client/app/routes/*
!/client/app/routes/.keep

# Generated assets
/public/webpack/*

# Mocha results
test-results.xml

.byebug_history
.vimrc
client/.vimrc

